/* default styling set up */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-green:#03731f !important;
    --secondary-green:#025918 !important;
    --black:#00010d !important;
    --grey:#363636 !important;
    --white:#f2f2f2 !important;
    --danger:#f80000 !important;
    --default-white:#ffffff !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--white) !important;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x:hidden;
}

a{
  text-decoration: none !important;
}
a:hover,button:hover{
  opacity: 0.9;
}

button:active{
  border: none;
  outline: none;
}

body{
    font-family: 'poppins', sans-serif !important;
    position:relative;
    width: 100vw;
    background-color: var(--white) !important;
    overflow-x:hidden;
}

.container{
    width: 96vw !important;
    max-width: 1200px !important;
    margin: auto !important;
    padding: 0 !important;
}

/* global toggle classes */
.slide{
  transform: translateX(-0vw) !important;
}

/* bootstrap accordion */
.accordion-button{
  background-color: var(--white) !important;
  border-bottom:1.5px solid var(--primary-green) !important;
  font-weight: 600;
}

.accordion-button.collapsed{
  background-color: var(--white) !important;
  border-bottom:1.5px solid var(--primary-green) !important;
  font-weight: 600;
}

.accordion:first-child{
  background-color: var(--white) !important;
  border-top:1.5px solid var(--primary-green) !important;
  font-weight: 600;
}



.accordion-button:focus {
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed){
  color: var(--primary-green) !important;
  box-shadow: none !important;
  background-color: var(--white) !important;
}